/*  
=========================
 Anak-anak Yatim dan Miskin Dahikmah
=========================
*/

body {
	background-image: url('image/cover5.png');
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: 100%;
	font: 100% Geneva, Tahoma, Verdana, sans-serif;
}

body {
  margin: 0;
}


/* GENERAL (APPLIED TO ELEMENTS)
------------------------------------------ */
body {
  font: 100%/1.2 Georgia, "Times New Roman", serif;
}

h1 {
 color: #218301;

}




.about h2,
.mod h2,
.nav-main a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 650;
  text-transform: uppercase;
}

.about h2,
.mod h2 {
  font-size: .875em; /* 15px/16px */
}


/* CONTAINERS
------------------------------------------ */
.page {
  margin: 0 auto;
  width: 960px;
}

main {
  float: left;
  width: 600px;
}

.sidebar {
  float: right;
  margin-top: 1.875em;
  width: 300px;
}


/* MASTHEAD
------------------------------------------ */
.masthead {
  padding-top: 10px;
  position: relative;
}

/* ::: Main Navigation ::: */
.nav-main {
  border-bottom: 1px solid #c7c7c8;
  border-top: 5px solid #019443;
  margin-bottom: 0;
  padding: .45em 0 .5em;
}

.nav-main li {
  border-left: 1px solid #7EFF20;
  display: inline-block;
  text-align: left;
}

.nav-main a {
  color: #292929;
  display: inline-block;
  font-size: 1.125em; /* 18px/16px */
  padding: .5em 1.15em .5em 1.4em;
}

.nav-main a:hover {
  color: #029443;
  text-decoration: none;
}

.nav-main .current-page,
.nav-main .current-page:hover {
  color: #20891A;
  cursor: default;
}

p {
color:#778F0D;
}

/* SIDEBAR
------------------------------------------ */

/* ::: About Me ::: */
.about p {
  background: #2b2b2b;
  padding: 0.313em 0.625em 0.625em;
}

.about h2,
.about p {
  color: #FFFFFF;
}

/* FOOTER
------------------------------------------ */
footer[role="contentinfo"] {
  border-top: 1px solid #cacbcb;
}

.footer p{
  font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.footer p{
 color: #000000;
}

/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}